In [19]:
import sqlite3
import os
import pickle
import pandas as pd
import sys

execfile('Imports.py')

from Modules.Classes import Simulation

#Allow terminal input argument
# narg = len(sys.argv)
# if __name__ == "__main__" and narg>1:
#     expName = sys.argv[1] #idx 1 arg from terminal is the experiment name
#     compilation = False #by default not a compilation of exps
#     if narg>2:
#         compilation = sys.argv[2] #idx 2 must be Boolean and indicates if experiment db is a compilation of multiple exps
# else:
expName = 'xcrABC' #default experiment name
compilation = False

#Extract only specific conditions. Specify as a list.
extractcond = None

#This list of exps are known to be compilations:
if expName in ['pooled','5con','5con_s']:
    compilation = True

    
#Toggle construction of trialset pickle without first trial?
# This is in addition to the usual.
# Regular full set of trials is always constructed.
no1st = False

if compilation:
    pluralStr = 's'
else:
    pluralStr = ''

if len(expName)==0:
    expNameExt = ''
else:
    expNameExt = '-'
    
con = sqlite3.connect('experiment{}{}{}.db'.format(pluralStr,expNameExt,expName))
participants = pd.read_sql_query("SELECT participant, condition, gentype from participants", con)
generation = pd.read_sql_query("SELECT * from generation", con)
alphas = pd.read_sql_query("SELECT * from alphas", con)
stimuli = pd.read_sql_query("SELECT * from stimuli", con).values
con.close()

print('Extracting trialsets from experiment: {}'.format(expName))

# create categories mapping
mapping = pd.DataFrame(columns = ['condition', 'categories'])
for i in alphas.columns:
	As = alphas[i].values.flatten()
	mapping = mapping.append(
		dict(condition = i, categories =[As]), 
		ignore_index = True
	)
        
# merge categories into generation
generation = pd.merge(generation, participants, on='participant')
generation = pd.merge(generation, mapping, on='condition')

Extracting trialsets from experiment: xcrABC

In [20]:
genbatch = generation[generation.category=='Not-Alpha']

In [21]:
genbatch

,category,participant,rt,stimulus,trial,condition,counterbalance,finish,gentype,lab,start,categories
8,Not-Alpha,11,11171,2458,1,Cluster,7,1548043388632,0,0,1548042866755,"[[583, 392, 1083, 1093]]"
9,Not-Alpha,11,16211,2055,0,Cluster,7,1548043388632,0,0,1548042866755,"[[583, 392, 1083, 1093]]"
10,Not-Alpha,11,7173,802,3,Cluster,7,1548043388632,0,0,1548042866755,"[[583, 392, 1083, 1093]]"
11,Not-Alpha,11,9961,811,2,Cluster,7,1548043388632,0,0,1548042866755,"[[583, 392, 1083, 1093]]"
12,Not-Alpha,11,5111,1419,5,Cluster,7,1548043388632,0,0,1548042866755,"[[583, 392, 1083, 1093]]"
13,Not-Alpha,11,5688,1768,4,Cluster,7,1548043388632,0,0,1548042866755,"[[583, 392, 1083, 1093]]"
14,Not-Alpha,11,6099,1103,7,Cluster,7,1548043388632,0,0,1548042866755,"[[583, 392, 1083, 1093]]"
15,Not-Alpha,11,6870,1769,6,Cluster,7,1548043388632,0,0,1548042866755,"[[583, 392, 1083, 1093]]"
24,Not-Alpha,127,8552,2450,1,Cluster,1,1548049064825,0,0,1548048724825,"[[583, 392, 1083, 1093]]"
25,Not-Alpha,127,11929,2499,0,Cluster,1,1548049064825,0,0,1548048724825,"[[583, 392, 1083, 1093]]"
26,Not-Alpha,127,8036,2466,3,Cluster,1,1548049064825,0,0,1548048724825,"[[583, 392, 1083, 1093]]"
27,Not-Alpha,127,8230,2474,2,Cluster,1,1548049064825,0,0,1548048724825,"[[583, 392, 1083, 1093]]"
28,Not-Alpha,127,4625,2479,5,Cluster,1,1548049064825,0,0,1548048724825,"[[583, 392, 1083, 1093]]"
29,Not-Alpha,127,4151,2484,4,Cluster,1,1548049064825,0,0,1548048724825,"[[583, 392, 1083, 1093]]"
30,Not-Alpha,127,5551,0,7,Cluster,1,1548049064825,0,0,1548048724825,"[[583, 392, 1083, 1093]]"
31,Not-Alpha,127,3619,2464,6,Cluster,1,1548049064825,0,0,1548048724825,"[[583, 392, 1083, 1093]]"
32,Not-Alpha,129,11898,1379,1,Cluster,1,1548050661965,0,0,1548049895446,"[[583, 392, 1083, 1093]]"
33,Not-Alpha,129,30650,724,0,Cluster,1,1548050661965,0,0,1548049895446,"[[583, 392, 1083, 1093]]"
34,Not-Alpha,129,10165,1533,3,Cluster,1,1548050661965,0,0,1548049895446,"[[583, 392, 1083, 1093]]"
35,Not-Alpha,129,189099,1131,2,Cluster,1,1548050661965,0,0,1548049895446,"[[583, 392, 1083, 1093]]"
36,Not-Alpha,129,18406,1289,5,Cluster,1,1548050661965,0,0,1548049895446,"[[583, 392, 1083, 1093]]"
37,Not-Alpha,129,29204,977,4,Cluster,1,1548050661965,0,0,1548049895446,"[[583, 392, 1083, 1093]]"
38,Not-Alpha,129,81221,759,7,Cluster,1,1548050661965,0,0,1548049895446,"[[583, 392, 1083, 1093]]"
39,Not-Alpha,129,13302,1036,6,Cluster,1,1548050661965,0,0,1548049895446,"[[583, 392, 1083, 1093]]"
48,Not-Alpha,134,5622,250,1,Cluster,2,1548050428472,0,0,1548050125762,"[[583, 392, 1083, 1093]]"
49,Not-Alpha,134,24047,0,0,Cluster,2,1548050428472,0,0,1548050125762,"[[583, 392, 1083, 1093]]"
50,Not-Alpha,134,3327,700,3,Cluster,2,1548050428472,0,0,1548050125762,"[[583, 392, 1083, 1093]]"
51,Not-Alpha,134,3007,550,2,Cluster,2,1548050428472,0,0,1548050125762,"[[583, 392, 1083, 1093]]"
52,Not-Alpha,134,2999,1300,5,Cluster,2,1548050428472,0,0,1548050125762,"[[583, 392, 1083, 1093]]"
53,Not-Alpha,134,2943,1150,4,Cluster,2,1548050428472,0,0,1548050125762,"[[583, 392, 1083, 1093]]"
...,...,...,...,...,...,...,...,...,...,...,...,...
1858,Not-Alpha,407,5293,0,3,XOR,4,1548191838554,0,0,1548191501831,"[[403, 818, 1479, 1890]]"
1859,Not-Alpha,407,9480,2452,2,XOR,4,1548191838554,0,0,1548191501831,"[[403, 818, 1479, 1890]]"
1860,Not-Alpha,407,4745,49,5,XOR,4,1548191838554,0,0,1548191501831,"[[403, 818, 1479, 1890]]"
1861,Not-Alpha,407,5825,2,4,XOR,4,1548191838554,0,0,1548191501831,"[[403, 818, 1479, 1890]]"
1862,Not-Alpha,407,7503,2448,7,XOR,4,1548191838554,0,0,1548191501831,"[[403, 818, 1479, 1890]]"
1863,Not-Alpha,407,8387,46,6,XOR,4,1548191838554,0,0,1548191501831,"[[403, 818, 1479, 1890]]"
1864,Not-Alpha,416,10175,0,1,XOR,3,1548194122026,0,0,1548193734396,"[[403, 818, 1479, 1890]]"
1865,Not-Alpha,416,15102,1042,0,XOR,3,1548194122026,0,0,1548193734396,"[[403, 818, 1479, 1890]]"
1866,Not-Alpha,416,8462,150,3,XOR,3,1548194122026,0,0,1548193734396,"[[403, 818, 1479, 1890]]"
1867,Not-Alpha,416,4407,2450,2,XOR,3,1548194122026,0,0,1548193734396,"[[403, 818, 1479, 1890]]"
1868,Not-Alpha,416,2518,2399,5,XOR,3,1548194122026,0,0,1548193734396,"[[403, 818, 1479, 1890]]"
1869,Not-Alpha,416,2182,502,4,XOR,3,1548194122026,0,0,1548193734396,"[[403, 818, 1479, 1890]]"
1870,Not-Alpha,416,3854,1890,7,XOR,3,1548194122026,0,0,1548193734396,"[[403, 818, 1479, 1890]]"
1871,Not-Alpha,416,3335,2042,6,XOR,3,1548194122026,0,0,1548193734396,"[[403, 818, 1479, 1890]]"
1904,Not-Alpha,432,10343,2499,1,XOR,1,1548200355811,0,0,1548200008180,"[[403, 818, 1479, 1890]]"
1905,Not-Alpha,432,15791,2450,0,XOR,1,1548200355811,0,0,1548200008180,"[[403, 818, 1479, 1890]]"
1906,Not-Alpha,432,8471,1998,3,XOR,1,1548200355811,0,0,1548200008180,"[[403, 818, 1479, 1890]]"
1907,Not-Alpha,432,6920,2496,2,XOR,1,1548200355811,0,0,1548200008180,"[[403, 818, 1479, 1890]]"
1908,Not-Alpha,432,5863,0,5,XOR,1,1548200355811,0,0,1548200008180,"[[403, 818, 1479, 1890]]"
1909,Not-Alpha,432,7550,2150,4,XOR,1,1548200355811,0,0,1548200008180,"[[403, 818, 1479, 1890]]"
1910,Not-Alpha,432,6880,249,7,XOR,1,1548200355811,0,0,1548200008180,"[[403, 818, 1479, 1890]]"
1911,Not-Alpha,432,5214,49,6,XOR,1,1548200355811,0,0,1548200008180,"[[403, 818, 1479, 1890]]"
1912,Not-Alpha,439,5265,49,1,XOR,7,1548203021871,0,0,1548202755135,"[[403, 818, 1479, 1890]]"
1913,Not-Alpha,439,11306,2499,0,XOR,7,1548203021871,0,0,1548202755135,"[[403, 818, 1479, 1890]]"
1914,Not-Alpha,439,3364,1799,3,XOR,7,1548203021871,0,0,1548202755135,"[[403, 818, 1479, 1890]]"
1915,Not-Alpha,439,2965,849,2,XOR,7,1548203021871,0,0,1548202755135,"[[403, 818, 1479, 1890]]"
1916,Not-Alpha,439,7581,449,5,XOR,7,1548203021871,0,0,1548202755135,"[[403, 818, 1479, 1890]]"
1917,Not-Alpha,439,3743,1397,4,XOR,7,1548203021871,0,0,1548202755135,"[[403, 818, 1479, 1890]]"
1918,Not-Alpha,439,2688,1699,7,XOR,7,1548203021871,0,0,1548202755135,"[[403, 818, 1479, 1890]]"
1919,Not-Alpha,439,3518,2249,6,XOR,7,1548203021871,0,0,1548202755135,"[[403, 818, 1479, 1890]]"

In [22]:
participants

,condition,counterbalance,finish,gentype,lab,participant,start
0,Cluster,5,1548043825926,1,0,3,1548042758208
1,Cluster,7,1548043388632,0,0,11,1548042866755
2,Row,1,1548043953053,1,0,18,1548043033932
3,XOR,5,1548044688317,2,0,37,1548043587398
4,Row,4,1548044102655,1,0,39,1548043594341
5,XOR,0,1548045626274,1,0,95,1548045082980
6,Row,1,1548046942348,1,0,125,1548046607338
7,Cluster,4,1548047799986,2,0,126,1548047357262
8,Cluster,1,1548049064825,0,0,127,1548048724825
9,Row,2,1548050119381,0,0,128,1548049883889
10,Cluster,1,1548050661965,0,0,129,1548049895446
11,XOR,0,1548050527517,2,0,130,1548049964373
12,Row,3,1548050502995,0,0,131,1548050070947
13,Cluster,7,1548050836842,1,0,132,1548050090374
14,Cluster,2,1548050428472,0,0,134,1548050125762
15,XOR,5,1548050739384,1,0,135,1548050141024
16,XOR,3,1548052113827,0,0,139,1548051741012
17,XOR,6,1548057160113,0,0,140,1548056873668
18,Cluster,3,1548057461564,0,0,142,1548057101820
19,Row,6,1548057660463,0,0,143,1548057103544
20,XOR,4,1548058446057,2,0,144,1548057138617
21,Cluster,3,1548057430000,1,0,145,1548057148348
22,XOR,1,1548058279909,0,0,146,1548057936221
23,Row,0,1548060081328,1,0,147,1548059219670
24,XOR,7,1548061094509,2,0,149,1548060750501
25,XOR,6,1548061257469,2,0,150,1548060792088
26,Row,0,1548064775949,1,0,151,1548064307054
27,Cluster,2,1548064653071,1,0,152,1548064311763
28,Row,4,1548064805560,2,0,153,1548064316953
29,Row,2,1548064850608,1,0,154,1548064434303
...,...,...,...,...,...,...,...
210,XOR,5,1548187005071,2,0,402,1548186523794
211,XOR,3,1548187615097,0,0,403,1548187235566
212,Row,2,1548190431593,2,0,404,1548190036007
213,Cluster,1,1548191411698,2,0,405,1548191001441
214,XOR,4,1548191838554,0,0,407,1548191501831
215,Cluster,0,1548191840814,2,0,408,1548191529516
216,Row,7,1548191951703,0,0,409,1548191614704
217,Cluster,5,1548192152758,2,0,410,1548191704677
218,Cluster,7,1548192272246,1,0,411,1548192035988
219,XOR,3,1548194122026,0,0,416,1548193734396
220,Row,2,1548194070188,0,0,417,1548193775430
221,XOR,1,1548195085411,2,0,420,1548194633783
222,XOR,3,1548195559669,1,0,421,1548195194500
223,XOR,2,1548195633133,2,0,422,1548195265077
224,Row,6,1548195746124,1,0,423,1548195387788
225,Row,1,1548196182014,2,0,425,1548195870341
226,XOR,5,1548196483981,2,0,426,1548195967829
227,Cluster,6,1548197892613,1,0,427,1548197619013
228,Cluster,7,1548198077270,2,0,428,1548197696732
229,Cluster,7,1548199489645,0,0,429,1548199179205
230,Cluster,6,1548199696765,0,0,430,1548199242566
231,Row,4,1548200438487,1,0,431,1548200005686
232,XOR,1,1548200355811,0,0,432,1548200008180
233,Row,2,1548200493098,0,0,433,1548200120300
234,Cluster,1,1548201419313,2,0,434,1548200787776
235,Row,7,1548202268506,1,0,436,1548201594438
236,Row,0,1548202557296,0,0,438,1548202260630
237,XOR,7,1548203021871,0,0,439,1548202755135
238,Row,1,1548203116008,1,0,440,1548202882647
239,Row,4,1548203631544,0,0,441,1548203274481